<app-nav-bar-vendedor></app-nav-bar-vendedor>
<div class="container">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div>
                        <h5 class="modal-title" id="exampleModalLabel">Titulo</h5>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                        <li *ngFor="let item of factura" class="list-group-item">Producto: {{item.producto}}<br>Descripción: {{item.descripcion}}
                            <br>Precio: {{item.precio}}<br>Cantidad: {{item.cantidadCompra}}</li>
                    </ul>
                </div>
                <h1>Total:</h1>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <ul style="width: 30%;" class="list-group">
        <li *ngFor="let item of facturas" class="list-group-item">
            <div>
                {{item.fecha}} <br> {{item.monto}}
            </div>
            <button data-toggle="modal" data-target="#exampleModal" (click)="verDetalles(item.idFactura)" class="detalles"><img src="../../../assets/icons/more.svg"
            alt=""></button>
        </li>
    </ul>
</div>
