.btn-color{
    background: rgb(136, 3, 3);
    color: white;
    border-radius: 5px;
    //margin-left: 80px;
}

.card-bg{
    background-color: #0000;
    
}

.card-body-bg{
    background-color: #757477a6;
}

.text-color
{
    color: whitesmoke
}

.agm-map {
    width: 100%;
    height: 400px;
 }