<div class="d-flex justify-content-center w-100 h-100 align-items-center"
  style="background-image: url('https://cdn.pixabay.com/photo/2015/03/26/09/43/living-room-690174_960_720.jpg');">
  <div class="m-auto align-self-center card text-center card-bg rounded" style="width: 30rem;">
    <div class="card-body card-body-bg rounded">
      <h5 class="card-title text-color">Registro</h5>

      <form class="text-color">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="nombre">Nombre</label>
            <input [(ngModel)]="nombreUsuario" class="form-control" id="nombre" placeholder="Nombre" name= "nombre">
          </div>
          <div class="form-group col-md-6">
            <label for="apellido">Apellido</label>
            <input [(ngModel)]="apellidos" class="form-control" id="apellido" placeholder="Apellido" name="apellido" >
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="fecha">Fecha nacimiento</label>
            <input [(ngModel)]="fecha_nacimiento" class="form-control" id="fecha" placeholder="AAAA-MM-DD" name="fecha">
          </div>
          <div class="form-group col-md-6">
            <label for="email">Correo</label>
            <input [(ngModel)]="email" class="form-control" id="email" placeholder="Correo" name="email">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="password">Contraseña</label>
            <input [(ngModel)]="password" class="form-control" id="password" placeholder="Contraseña" name="password">
          </div>
          <div class="form-group col-md-6">
            <label for="telefono">Telefono</label>
            <input type="text" class="form-control" id="telefono" placeholder="Telefono">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="direccion">Direccion</label>
            <input type="text" class="form-control" id="direccion" placeholder="Direccion">
          </div>
          <div class="form-group col-md-6">
            <br>
            <button type="submit" class="btn-color btn ml-2 mt-2" data-toggle="modal" data-target="#exampleModal">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
              </svg>
            </button>

          </div>
        </div>
        <button type="submit" class="btn-color btn" (click) = "register()">Registrarse</button>
      </form>
      <a class="text-color" href="/login" for="exampleInputPassword1">Si ya tienes cuenta <u>Inicia sesión</u></a>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" #modalMap>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Selecione su ubicaci&oacute;n</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <google-map height="400px" width="100%" [center]="center" [zoom]="zoom" [options]="options" (mapDragend)="onDragEnd()" (centerChanged)="setMarker()" #googleMap>
          <map-marker
          [position]="marker.position"
          [label]="marker.label"
          [title]="marker.title"
          [options]="marker.options"
          [clickable]="marker.clickable"
          #mapMarker>
          </map-marker>
        </google-map>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-color" (click)= "obtenerDireccion()">Seleccionar</button>
      </div>
    </div>
  </div>
</div>