<nav class="navbar navbar-expand-lg navbar-dark nav-color">
    <a class="navbar-brand" href="#">
        <img src="assets/logo.png" alt="" class="tmn-logo ">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Catalogo <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
          <a class="nav-link" routerLink="/perfilC">Mi Perfil <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/cupones">Mis Cupones <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/promociones">Descuentos <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/calificarP">Calificar Pedido<span class="sr-only"></span></a>
        </li>

        </ul>
        <div>
            <svg  routerLink="/carrito" width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-cart2" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
            </svg>
        </div>

        <div class="nav-item avatar dropdown float-lg-right">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                aria-expanded="false">
                <img src="assets/perfil.jpg" alt="" class=" rounded-circle tmn-imagen ">
            </a>
            <div class="dropdown-menu dropdown-menu-lg-right">
                <a class="dropdown-item" href="#">Salir</a>
            </div>
        </div>
    </div>
</nav>


<form method="GET"  action="#" class="row mt-4 py-3 px-5 mx-0">
    <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="row p-1">
            <div class="card text-center m-auto w-100">
                <div class="card-body">
                    <h5 class="card-title">Tipo de Envio</h5>
                    <div class="form-check form-check-inline">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-truck  mr-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5v7h-1v-7a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .5.5v1A1.5 1.5 0 0 1 0 10.5v-7zM4.5 11h6v1h-6v-1z"/>
                            <path fill-rule="evenodd" d="M11 5h2.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5h-1v-1h1a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4.5h-1V5zm-8 8a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 1a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
                            <path fill-rule="evenodd" d="M12 13a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 1a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
                          </svg>
                        <input class="form-check-input" type="radio" name="tipoEnvio" id="inlineRadio1" value="0">
                        <label class="form-check-label" for="inlineRadio1">Delivery</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-shop  mr-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M0 15.5a.5.5 0 0 1 .5-.5h15a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5zM3.12 1.175A.5.5 0 0 1 3.5 1h9a.5.5 0 0 1 .38.175l2.759 3.219A1.5 1.5 0 0 1 16 5.37v.13h-1v-.13a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.13H0v-.13a1.5 1.5 0 0 1 .361-.976l2.76-3.22z"/>
                            <path d="M2.375 6.875c.76 0 1.375-.616 1.375-1.375h1a1.375 1.375 0 0 0 2.75 0h1a1.375 1.375 0 0 0 2.75 0h1a1.375 1.375 0 1 0 2.75 0h1a2.375 2.375 0 0 1-4.25 1.458 2.371 2.371 0 0 1-1.875.917A2.37 2.37 0 0 1 8 6.958a2.37 2.37 0 0 1-1.875.917 2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.5h1c0 .76.616 1.375 1.375 1.375z"/>
                            <path d="M4.75 5.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm3.75 0a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm3.75 0a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
                            <path fill-rule="evenodd" d="M2 7.846V7H1v.437c.291.207.632.35 1 .409zm-1 .737c.311.14.647.232 1 .271V15H1V8.583zm13 .271a3.354 3.354 0 0 0 1-.27V15h-1V8.854zm1-1.417c-.291.207-.632.35-1 .409V7h1v.437zM3 9.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5V15H7v-5H4v5H3V9.5zm6 0a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-4zm1 .5v3h2v-3h-2z"/>
                          </svg>
                        <input class="form-check-input" type="radio" name="tipoEnvio" id="inlineRadio2" value="1">
                        <label class="form-check-label" for="inlineRadio2">Pick Up</label>
                      </div>
                </div>
            </div>
        </div>
        <div class="row p-1">
            <div class="card text-center m-auto w-100">
                <div class="card-body">
                    <h5 class="card-title">Tipo de pago</h5>
                    <div class="form-check form-check-inline">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cash mr-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M15 4H1v8h14V4zM1 3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H1z"/>
                            <path d="M13 4a2 2 0 0 0 2 2V4h-2zM3 4a2 2 0 0 1-2 2V4h2zm10 8a2 2 0 0 1 2-2v2h-2zM3 12a2 2 0 0 0-2-2v2h2zm7-4a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
                          </svg>
                        <input [(ngModel)]="metodoPago" class="form-check-input" type="radio" name="efectivo" id="inlineRadio1" value="0">
                        <label class="form-check-label" for="inlineRadio1">Efectivo</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-credit-card  mr-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z"/>
                            <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z"/>
                          </svg>
                        <input  [(ngModel)]="metodoPago" class="form-check-input" type="radio" name="tarjeta" id="inlineRadio2" value="1">
                        <label class="form-check-label" for="inlineRadio2">Tarjeta</label>
                      </div>
                      <div class="form-group mt-3">
                            <label for="cupon">Insertar Codigo Cupon</label>
                            <input  [(ngModel)]="idCupon" class="form-control" id="cupon" aria-describedby="emailHelp" name="idCupon">
                     </div>
                     <div class="form-group">
                            <label for="promocion">Insertar codigo de descuento</label>
                            <input [(ngModel)]="idPromocion" class="form-control" id="promocion" name="promocion">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 p-1" *ngIf="total" >
        <div class="card m-auto h-100 w-100" >
            <div class="card-body">
                <h5 class="card-title">Pago</h5>
                <p class="card-text">Total a pagar: &#162;{{total}}</p>
            </div>
            <button class="btn-color btn" type="submit" (click)= "agregarOrden()">Pagar</button>
        </div>
    </div>
</form>


<div class="modal fade" id="modalFinalizar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" #modalFinalizar>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmación de orden</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="idFactura">
        <h3>Su pedido se ha realizado con éxito</h3>
        <p>El codigo de su factura es: <b> {{idFactura}}</b></p>
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-color" data-dismiss="modal" routerLink="/home">Continuar</a>
      </div>
    </div>
  </div>
</div>