.nav-color{
    background: rgb(136, 3, 3);
    color: white;
}

.btn-color{
    background: rgb(136, 3, 3);
    color: white;
}

.position{
    margin-left: 90px;
    margin-top: 50px;
}

.tmn-imagen{
    width: 38px;
    height: 35px;
}

.tmn-logo{
    width: 90px;
    height: 50px;
}

.img-card{
    max-width: 150px;
    max-height: 100px;
}