<app-nav-bar-gerente></app-nav-bar-gerente>
<div class="containerForm">
    <div class="card items fondo">
        <div>
            <div class="row">
                <div class="col">
                    <label for="exampleInputEmail1">Catálogo de productos</label>
                    <select [(ngModel)]='catalogo' id="vendedor" class="form-control">
                      <option value="{{catalogo.id}}" *ngFor="let catalogo of catalogos" selected>{{catalogo.nombre}} </option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn enviarForm" (click)="cargarTodosProductos()">Cargar productos</button>
        </div>
    </div>
</div>
<div class="containerCat row">
    <div *ngFor="let producto of productos" class="containerProd">
        <img class="photoMember" src="{{ producto.foto }}" alt="" srcset="" />
        <p class="nameMember">
            {{ producto.nombre }}
        </p>
        <p class="positionMember">
            {{ producto.descripcion }}
        </p>
        <p class="positionMember">
            Precio Sugerido: ₡{{ producto.precioSugerido }}
        </p>
        <p class="positionMember">
            Precio venta: ₡{{ producto.precioVenta }}
        </p>
        <p *ngIf="catalogo!=-1" class="positionMember">
            Cantidad en bodega: {{ producto.cantidad }}
        </p>
        <div class="actionBtn">
            <select [(ngModel)]='cont' *ngIf="catalogo==-1" class="custom-select" id="validationCustom04" required> Cantidad:
            <option *ngFor="let numero of cantidad" selected>{{numero}}</option>
          </select>
            <button (click)="agregarProducto(producto.id)" *ngIf="catalogo==-1" type="submit" class="btn agregar">Agregar</button>
            <button *ngIf="catalogo!=-1" type="submit" class="btn agregar">Eliminar</button>
        </div>
    </div>
</div>