.containerForm {
    padding: 10px 600px !important;
    display: flex;
    justify-content: center;
    //background-image: linear-gradient(to bottom right, rgba(11, 97, 94, 1), rgba(236, 246, 206, 1), rgba(4, 180, 174, 1));
}

label {
    color: #154360;
    font-weight: bolder;
}

.row {
    padding: 15px 0;
}

.items {
    padding: 25px 70px;
}

.enviarForm {
    width: 100%;
    margin-top: 15px;
    background-color: #1E8449;
    color: #F2F4F4;
}

.fondo {
    border-radius: 50px;
    border-color: none;
    min-width: 500px;
    //background-image: linear-gradient(to bottom right, rgba(11, 97, 94, 1), rgba(236, 246, 206, 1), rgba(4, 180, 174, 1));
}

.agregar {
    color: #F2F4F4;
    background-color: #1E8449;
    width: 100%;
}

.actionBtn {
    padding: 5px 50px;
    width: 100%;
    // display: flex;
    // justify-content: center;
    text-align: center;
}

.containerCat {
    width: 100%;
    padding: 30px 50px;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.containerProd {
    text-align: center;
    padding: 10px 5px;
    width: 25%;
    text-align: center;
    margin-bottom: 10px;
}

.photoMember {
    border-radius: 15px;
    padding-bottom: 5px;
    width: 150px;
    height: 150px;
}

.nameMember {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    margin: 12px 0;
}

.positionMember {
    word-wrap: break-word;
}