.container {
    padding-top: 30px;
}

@font-face {
    font-family: philosopher;
    src: url(../../../assets/fonts/Philosopher-Regular.ttf);
}

.pedido {
    font-family: philosopher;
    font-size: 30px;
}

.btnMore {
    border: none;
    background-color: transparent;
}

.labelItem {
    width: 450px;
    padding: 0 10px;
}
