<app-navv-bar-mensajero [nombre]="nombreEmpleado" [imagen]="imagenEmpleado"></app-navv-bar-mensajero>
<div class="container">
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div>
            <h5 class="modal-title" id="exampleModalLabel">{{clienteSeleccionado}}</h5>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul class="list-group">
            <li *ngFor="let item of pedido" class="list-group-item">Producto: {{item.producto}}<br>Descripción:
              {{item.descripcion}}<br>Cantidad: {{item.cantidad}}</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <label class="pedido">Pedidos por entregar</label>
      <ul class="list-group">
        <li *ngFor="let pedido of pedidosPendientes" style="font-weight: bolder; color:rgb(202, 19, 19)"
          class="list-group-item d-flex justify-content-between align-items-center">
          <div>
            <input type="checkbox" (click)="cambiarEstadoACompletados(pedido.id)"
              aria-label="Checkbox for following text input" value="estado">
            <label class="labelItem">{{pedido.nombreCliente}}</label>
            <button class="btnMore" data-toggle="modal" data-target="#exampleModal" (click)="mostrarInfoPen(pedido)">
              <img src="../../../assets/icons/more.svg" alt=""> </button>
          </div>
        </li>
      </ul>
    </div>
    <div class="col">
      <label class="pedido">Pedidos entregados</label>
      <ul class="list-group">
        <li *ngFor="let pedido of pedidosCompletados" style="font-weight:bolder; color:rgb(12, 100, 12); "
          class="list-group-item d-flex justify-content-between align-items-center">
          <div>
            <!-- <input type="checkbox" (click)="cambiarEstadoAPendientes(pedido.id)"
              aria-label="Checkbox for following text input" value="estado"> -->
            <label class="labelItem">{{pedido.nombreCliente}}</label>
            <button class="btnMore" data-toggle="modal" data-target="#exampleModal" (click)="mostrarInfoComp(pedido)">
              <img src="../../../assets/icons/more.svg" alt=""> </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
