<nav class="navbar sticky-top navbar-expand-lg navbar-dark nav-color">
    <a class="navbar-brand" href="#">
        <img src="assets/logo.png" alt="" class="tmn-logo ">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/home">Catalogo<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/perfilC">Mi Perfil <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/cupones">Mis Cupones <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/promociones">Descuentos <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/calificarP">Calificar Pedido<span class="sr-only"></span></a>
            </li>

        </ul>
        <div>
            <svg routerLink="/carrito" width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-cart2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
        </svg>
        </div>

        <div class="nav-item avatar dropdown float-lg-right">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <img src="assets/perfil.jpg" alt="" class=" rounded-circle tmn-imagen ">
            </a>
            <div class="dropdown-menu dropdown-menu-lg-right">
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/login">Salir</a>
            </div>
        </div>
    </div>
</nav>


<div class="p-lg-4 p-sm-2">
    <div class="row w-100 mx-0 mt-4">
        <div class="card w-75 mx-auto mt-3">
            <div class="row no-gutters">
                <div class="col-md-8">
                    <img src="{{productoSeleccionado.foto}}" class="card-img-top ">
                </div>
                <div class="col-md-4">
                    <div class="card-body">
                        <h5 class="card-title">{{productoSeleccionado.nombre}}</h5>
                        <p class="card-text">{{productoSeleccionado.descripcion}}</p>
                        <p class="card-text"><small class="text-muted">Precio: &#162; {{ productoSeleccionado.precio_venta }}</small></p>
                        <p class="card-text"><small class="text-muted">Cantidad</small></p>
                        <input type="number" min="1" max="100" value="1" [(ngModel)]="cantidad" id="cantidad" name="cantidad" class="form-control">
                        <div>
                            <button (click)="agregarCarrito()" class="btn btn-color mt-3" data-toggle="modalMensaje">Añadir al carrito</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="modalMensaje" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" #modal>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Producto en carrito</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <h3>Se ha cargado el producto al carrito</h3>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-color" data-dismiss="modal" routerLink="/home">Continuar comprando</a>
            </div>
        </div>
    </div>
</div>