<div class="d-flex justify-content-center w-100 h-100 align-items-center" style="background-image: url('https://cdn.pixabay.com/photo/2015/03/26/09/43/living-room-690174_960_720.jpg'); background-size: cover;">
    <div class="m-auto align-self-center card text-center card-bg rounded" style="width: 18rem;">
        <div class="card-body card-body-bg rounded">

            <form class="text-color">
                <div class="form-group ">
                    <label for="exampleInputEmail1">Correo</label>
                    <input [(ngModel)]="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Correo" name="email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Contraseña</label>
                    <input [(ngModel)]="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña" name="password">
                </div>
                <button (click)="login()" class="btn-color btn">Entrar</button>
            </form>
            <a class="text-color" href="/registro" for="exampleInputPassword1">Si no tienes cuenta <u>Registrate</u></a>
        </div>
    </div>
</div>