<app-nav-bar></app-nav-bar>
<div class="containerForm">
    <div class="card items fondo">
        <div>
            <div class="row">
                <label for="exampleFormControlInput1">Catálogo de productos</label>
                <div class="input-group mb-3">
                    <input [(ngModel)]="product" id="producto" type="text" class="form-control" placeholder="Identificador producto" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button (click)="cargarProducto()" class="btn btn-outline-secondary" type="button" id="button-addon2">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                  <path fill-rule="evenodd"
                    d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                </svg>
              </button>
                    </div>
                    <button type="submit" class="btn enviarForm" (click)="cargarTodosProductos()">Todos</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="containerCat">
    <div *ngFor="let producto of productos" class="containerProd">
        <img class="photoMember" src="{{ producto.foto }}" alt="" srcset="" />
        <p>
            Producto: {{ producto.producto }}
        </p>
        <p>
            Descripción: {{ producto.descripcion }}
        </p>
        <p>
            Precio sugerido: {{ producto.precioSugerido }}
        </p>
        <p>
            Precio Costo: {{ producto.precioVenta }}
        </p>
        <div class="actionBtn">
            <button (click)="eliminarProducto(producto.id)" type="submit" class="btn agregar">Eliminar</button>
        </div>
    </div>
    <button routerLink="/agregarProducto" class="add">
      <svg width="60px" height="60px" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor"
      xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z" />
      <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z" />
      <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
    </svg>
   </button>
</div>