<nav class="navbar navbar-expand-lg navbar-dark nav-color">
    <a class="navbar-brand" href="#">
        <img src="assets/logo.png" alt="" class="tmn-logo ">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home">Catalogo <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link">Mi Perfil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/cupones">Mis Cupones <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/promociones">Descuentos <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/calificarP">Calificar Pedido<span class="sr-only">(current)</span></a>
            </li>

        </ul>
        <div>
            <svg routerLink="/carrito" width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-cart2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
        </svg>
        </div>

        <div class="nav-item avatar dropdown float-lg-right">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <img src="assets/perfil.jpg" alt="" class=" rounded-circle tmn-imagen ">
            </a>
            <div class="dropdown-menu dropdown-menu-lg-right">
                <a class="dropdown-item" href="#">Salir</a>
            </div>
        </div>
    </div>
</nav>

<div>
    <div class="row mt-5 p-3">
        <div class="col-sm-6 col-md-3 col-lg-2  ">
            <div class="card m-auto" style="width: 10rem;">
                <img src="assets/perfil.jpg" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-9 col-lg-10 ">
            <div class="card" *ngIf="usuario">
                <div class="card-body">
                    <h5 class="card-title">Perfil</h5>
                    <p class="card-text">Nombre: {{usuario.nombre}} </p>
                    <p class="card-text">Apellido: {{usuario.apellido}} </p>
                    <p class="card-text">Fecha de nacimiento: {{usuario.fecha_nacimiento}} </p>
                    <p class="card-text">Email: {{usuario.correo}} </p>

                </div>
            </div>
        </div>
    </div>

</div>