<nav class="navbar navbar-expand-lg navbar-dark nav-color">
    <a class="navbar-brand">
        <img src="assets/logo.png" alt="" class="tmn-logo ">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link">Catalogo <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/perfilC">Mi Perfil <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/cupones">Mis Cupones <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/promociones">Descuentos <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/calificarP">Calificar Pedido<span class="sr-only"></span></a>
            </li>
        </ul>
        <div>
            <svg routerLink="/carrito" width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-cart2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
        </svg>
        </div>

        <div class="nav-item avatar dropdown float-lg-right">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <img src="assets/perfil.jpg" alt="" class=" rounded-circle tmn-imagen ">
            </a>
            <div class="dropdown-menu dropdown-menu-lg-right">
                <button class="dropdown-item" (click)="cerrarSesion()">Salir</button>
            </div>
        </div>
    </div>
</nav>


<div class="p-lg-4 p-sm-2">
    <div class="row mx-0 mt-3">
        <form class="form-inline m-auto ml-lg-auto mr-lg-2 mr-2">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-color rounded my-2 my-sm-0" type="submit">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
          <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
        </svg>
      </button>
        </form>
    </div>
    <div class="row mx-0">
        <div class="col-sm-6 col-md-4 col-lg-4 p-3" *ngFor="let producto of productos">
            <div class="card m-auto">
                <img src="{{ producto.foto }}" class="card-img-top card-img-product" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ producto.nombre }}</h5>
                    <p class="card-text">{{ producto.descripcion }}</p>
                    <p class="card-text">precio &#162; {{ producto.precio_venta }}</p>
                    <a routerLink="/detalleP/{{producto.id}}" class="btn btn-color">Ver detalle</a>
                </div>
            </div>
        </div>
    </div>
</div>