<nav class="navbar navbar-expand-lg navColor">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link fontNav" href="#">Pedidos</a>
            </li>
            <li class="nav-item liStyle">
                <a class="nav-link fontNav" routerLink="">Salir<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
    <a class="fontNav">{{nombre}}</a>
    <img src={{imagen}} width="60" height="60" class="d-inline-block align-top fontNav" alt="" loading="lazy">
</nav>
