<app-nav-bar-vendedor [nombre]="nombreEmpleado" [imagen]="imagenEmpleado"></app-nav-bar-vendedor>
<div class="containerForm">
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div>
            <h5 *ngIf="cliente.nombre" class="modal-title" id="exampleModalLabel">
              {{cliente.nombre + " " + cliente.apellido}}</h5>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul class="list-group">
            <li *ngFor="let item of pedido" class="list-group-item">Producto: {{item.producto}}<br>Descripción:
              {{item.descripcion}}
              <br>Precio: {{item.precio}}<br>Cantidad: {{item.cantidadCompra}}</li>
          </ul>
        </div>
        <h1>Subtotal: {{subtotal}}</h1>
        <div class="row">
          <div class="col">
            <!-- <input [(ngModel)]="idCupon" type="text" class="form-control" placeholder="id.Cupon"> -->
            <p>Cupones</p>
            <select (change)="modificarPrecio('cupon')" class="form-control" [(ngModel)]="idCupon">
              <option *ngFor="let cupon of cupones" [value]="cupon.id" selected>{{cupon.descripcion}}</option>
            </select>
          </div>
          <!-- <div class="col">
            <button (click)="verificarCupon()" type="button" class="btn btn-secondary">Verificar cupón</button>
          </div> -->
        </div>
        <div class="row">
          <div class="col">
            <!-- <input [(ngModel)]="idPromocion" type="text" class="form-control" placeholder="id.Cupon"> -->
            <p>Promociones</p>
            <select (change)="modificarPrecio('promocion')" class="form-control" [(ngModel)]="idPromocion">
              <option *ngFor="let promo of ofertas" [value]="promo.id" selected>{{promo.descripcion}}</option>
            </select>
          </div>
          <!-- <div class="col">
            <button (click)="verificarPromocion()" type="button" class="btn btn-secondary">Verificar promoción</button>
          </div> -->
        </div>
        <div class="row">
          <div class="col">
            <!-- <input [(ngModel)]="idPromocion" type="text" class="form-control" placeholder="id.Cupon"> -->
            <p>Metodo de pago</p>
            <select class="form-control" [(ngModel)]="metodoPagoSeleccionado">
              <option *ngFor="let metodo of metodosPago" [value]="metodo.id" selected>{{metodo.nombre}}</option>
            </select>
          </div>
        </div>
        <!-- <small *ngIf="idPromocion== 0" style="color: crimson;" class="form-text ">
          Promoción inválida!
        </small>
        <small *ngIf="idPromocion== 1" style="color: darkgreen;" class="form-text ">
          Promoción valida!
        </small> -->
        <h1>Total: {{total}}</h1>
        <div class="modal-footer">
          <button (click)="pagar()" type="button" class="btn btn-secondary" data-dismiss="modal">Pagar monto</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar pedido</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card items fondo">
    <div>
      <div class="row">
        <label for="exampleFormControlInput1">Ingresar identificación del cliente</label>
        <div class="input-group mb-3">
          <input #clienteInput id="cliente" type="text" class="form-control" placeholder="Identificador cliente"
            aria-label="Recipient's username" aria-describedby="button-addon2">
          <div class="input-group-append">
            <button (click)="verificarCliente(clienteInput.value)" class="btn btn-outline-secondary" type="button"
              id="button-addon2">
              <img src="../../../assets/icons/search.svg" alt="">
            </button>
          </div>
        </div>
        <small *ngIf="cliente== '1'" style="color: crimson;" id="passwordHelpBlock" class="form-text ">
          El cliente no se encuentra registrado!
        </small>
        <small *ngIf="cliente== '0'" style="color: darkgreen;" id="passwordHelpBlock" class="form-text ">
          Cliente registrado!
        </small>
      </div>
    </div>
  </div>
</div>

<div class="containerCat">
  <div class="row">
    <div class="col">
      <label for="exampleFormControlInput1">Identificador del producto</label>
      <div class="input-group mb-3 inputProd">
        <input [(ngModel)]="product" id="producto" type="text" class="form-control" placeholder="Identificador producto"
          aria-label="Recipient's username" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button (click)="cargarProductos()" class="btn btn-outline-secondary" type="button" id="button-addon2">
            <img src="../../../assets/icons/search.svg" alt="">
          </button>
        </div>
      </div>
      <button *ngIf="cliente != 'sin asignar'" (click)="facturar()" data-toggle="modal" data-target="#exampleModal"
        type="submit" style="width: 100px;" class="btn agregar">Facturar</button>
    </div>
  </div>
  <p *ngIf="productosFiltrados.length == 0">No hay productos</p>
  <div *ngFor="let producto of productosFiltrados" class="containerProd">
    <img class="photoMember" src="{{ producto.foto }}" alt="" srcset="" />
    <p class="positionMember">
      Id: {{ producto.id }}
    </p>
    <p class="positionMember">
      Producto: {{ producto.nombre }}
    </p>
    <p class="positionMember">
      Descripción: {{ producto.descripcion }}
    </p>
    <p class="positionMember">
      Precio: {{ producto.precio }}
    </p>
    <p class="positionMember">
      Cantidad en bodega: {{ producto.cantidad }}
    </p>
    <p class="positionMember">
      Sucursal: Guanacaste
    </p> Cantidad:

    <input #cantidad class="form-control" type="number" min="0" [max]="producto.cantidad" value="0"
      style="max-width: 100px; margin: 10px auto;">

    <!-- <select [(ngModel)]="cant" style="width: 70px;" class="custom-select" id="validationCustom04" required>
      <option style="width: 70px;" *ngFor="let numero of cantidad" selected>{{numero}}</option>
    </select> -->

    <div class="actionBtn">
      <button (click)="hacerPedido(producto , cantidad.value)" type="submit" class="btn agregar">Agregar</button>
    </div>
  </div>
</div>
