.container {
    padding-top: 20px;
}

.btnAdd {
    border: none;
    background-color: rgb(14, 100, 14);
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

.fondo {
    padding: 50px;
}

.imgGet {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    width: 50%;
}