<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="card items fondo">
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationTooltip01">Nombre producto</label>
                <input [(ngModel)]="producto" type="text" class="form-control" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationTooltip01">Descripción</label>
                <input [(ngModel)]="descripcion" type="text" class="form-control" required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationTooltip01">Precio costo</label>
                <input [(ngModel)]="precioVenta" type="text" class="form-control" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationTooltip01">Precio sugerido</label>
                <input [(ngModel)]="precioSugerido" type="text" class="form-control" required>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <div class="custom-file">
                    <!-- <input accept="image/*" type="file" class="custom-file-input" id="customFileLang" lang="es"> -->
                    <label class="custom-file-label" for="customFileLang">Seleccionar imagen</label>
                    <input class="custom-file-input" id="inputImg" type="file" (change)="previewFile($event)"><br>
                </div>
            </div>
            <div class="col">
                <button (click)="agregarProducto()" class="btnAdd">Agregar</button>
            </div>
        </div>
        <div class="imgGet">
            <img id="imagen" src="" height="200" alt="Image preview...">
        </div>
    </div>
</div>