<nav class="navbar navbar-expand-lg navbar-dark nav-color">
    <a class="navbar-brand" href="/home">
        <img src="assets/logo.png" alt="" class="tmn-logo ">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/home">Catalogo <span class="sr-only"></span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/perfilC">Mi Perfil <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cupones">Mis Cupones <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/promociones">Descuentos <span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link">Calificar Pedido<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <div>
            <svg routerLink="/carrito" width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-cart2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
            </svg>
        </div>

        <div class="nav-item avatar dropdown float-lg-right">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <img src="assets/perfil.jpg" alt="" class=" rounded-circle tmn-imagen ">
            </a>
            <div class="dropdown-menu dropdown-menu-lg-right">
                <a class="dropdown-item" href="#">Salir</a>
            </div>
        </div>
    </div>
</nav>

<div class="mt-5 p-3">
    <div class="card w-50 mx-auto ">
        <div class="card-body text-center">
            <h5 class="card-title">Calificar un pedido</h5>
            <form>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Inserte el código de la factura</label>
                    <input [(ngModel)]='codPedido' type="text" class="form-control" id="codigoPedido" placeholder="Codigo del pedido" name="codidoP">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Inserte el identificador de la sucursal</label>
                    <input [(ngModel)]='sucursal' type="text" class="form-control" id="codigoPedido" placeholder="Codigo del sucursal" name="codidoS">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Escoja una calificación</label>
                    <select [(ngModel)]='calificacion' class="form-control" id="exampleFormControlSelect1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <button (click)="Calificar()" type="button" class="btn btn-color" data-toggle="modal" data-target="#exampleModal">
                    Calificar
                </button>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel">Mensaje Confirmación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body text-center">
                <p>Su calificación fue registrada</p>
                <p>¡Gracias!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-color" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>
