.containerForm {
    padding: 10px 600px !important;
    display: flex;
    justify-content: center;
    //background-image: linear-gradient(to bottom right, rgba(11, 97, 94, 1), rgba(236, 246, 206, 1), rgba(4, 180, 174, 1));
}

label {
    color: #154360;
    font-weight: bolder;
}

.row {
    padding: 15px 0;
}

.items {
    padding: 25px 70px;
}

.enviarForm {
    width: 100%;
    margin-top: 15px;
    background-color: #1E8449;
    color: #F2F4F4;
}

.fondo {
    border-radius: 50px;
    border-color: none;
    min-width: 500px;
    //background-image: linear-gradient(to bottom right, rgba(11, 97, 94, 1), rgba(236, 246, 206, 1), rgba(4, 180, 174, 1));
}