<app-nav-bar-gerente></app-nav-bar-gerente>
<div class="containerForm">
    <div class="card items fondo">
        <div>
            <div class="row">
                <div class="col">
                    <label for="exampleInputEmail1">Sucursal</label>
                    <select [(ngModel)]='sucursal' id="sucursal" class="form-control">
                      <option value="{{sucursal.id}}" *ngFor="let sucursal of sucursales" selected >{{sucursal.nombre}} </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="exampleInputEmail1">Producto</label>
                    <select [(ngModel)]='producto' id="producto" class="form-control">
                      <option value="{{producto.id}}" *ngFor="let producto of productos" selected>{{producto.nombre}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="exampleInputEmail1">Vendedor</label>
                    <select [(ngModel)]='vendedor' id="vendedor" class="form-control">
                      <option value="{{vendedor.id}}"  *ngFor="let vendedor of vendedores" selected>{{vendedor.nombre}} {{vendedor.apellido}} </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="exampleInputEmail1">Fecha inicio</label>
                    <input [(ngModel)]='fechaIn' type="date" class="form-control" id="fechaIn" aria-describedby="emailHelp">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="exampleInputEmail1">Fecha fin</label>
                    <input [(ngModel)]='fechaFin' type="date" class="form-control" id="fechaFin" aria-describedby="emailHelp">
                </div>
            </div>
            <button type="submit" class="btn enviarForm" (click)="generarReporte()">Generar reporte</button>
        </div>
    </div>
</div>
<div *ngIf="reporte!=[]" class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Sucursal</th>
                <th scope="col">Producto</th>
                <th scope="col">Vendedor</th>
                <th scope="col">Ganancias</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of reporte">
                <th scope="row"></th>
                <td>{{item.sucursal}}</td>
                <td>{{item.producto}}</td>
                <td>{{item.vendedor}}</td>
                <td>{{item.ganancias}}</td>
            </tr>
        </tbody>
    </table>
</div>